@(question: Question)

                <div class="folder" data-folder-id="@question.id">
                    <header>
                        <h3>@question.fullQuestion</h3>
                    </header>
                    <ul class="list">
                    <li>@question.difficultyLevel</li>
                    <li>@question.avgTime</li>
                    <span class="ownedBy">@question.owner.email</span>
                    </ul>
                    
                        <dl class="options">
        <dt>Options</dt>
        <dd>
            <button class="newQuestion">New question</button>
            <button class="deleteQuestion">Remove question</button>
        </dd>
    </dl>
                </div>